@model IEnumerable<CrudTributoJusto.Models.Produto>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Imagem" width="100" height="150">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                      <input class="form-control" />
                </td>
            </tr>
        }
    </tbody>s
</table>