@model CrudTributoJusto.Models.Pedido

@{
    ViewData["Title"] = "Cadastrar Pedido";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Email Cliente</label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>   
            
            <div class="container center" id="divProdutos">
                @foreach(Produto produto in ViewBag.Produtos)
                {
                    <div class="card" style="width: 13rem;">
                      <img class="card-img-top" src="@produto.Imagem" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">@produto.Nome</h5>
                        <h5 class="card-title valor-produto">@produto.Valor</h5>
                        <p class="card-text">@produto.Descricao</p>
                        <input class="quantidadeProduto" onchange="somarValores()" id="@produto.Id" type=number min=0 max=20>
                      </div>
                    </div>
                }   
            </div>

@*            <!-- Button trigger modal -->
            <div class="form-group">
                <button type="button" class="btn btn-dark" onclick="loadProdutos()">
                    Adicionar itens ao pedido
                </button>
            </div>
*@
            
            <div class="mt-5">
                <p id="valorTotal">Valor total do pedido - </p>
            </div>

            <div class="form-group">
                <input type="submit" value="Finalizar Pedido" class="btn btn-primary" />
            </div>

            <div class="modal" id="modal">
 
            </div>

        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger" asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



